<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iii.mapper.EventDataMapper">
    <insert id="batchInsertData">
        INSERT INTO event(item_id,visitor_id,timestamp)
        VALUES
        <foreach collection="dataList" item="data" separator=",">
            (#{data.itemId},#{data.visitorId},#{data.timestamp})
        </foreach>
    </insert>

</mapper>